<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <style>
        a{
            display:inline-block;
            padding:10px 10px 0 0;
        }
    </style>
</head>
<body>
    <p>获取公众号配置信息</p>
    <a href="jssdk.html">配置jssdk 权限</a>
    <a href="./dzH5/index.html">H5点亮1</a>
    <a href="./wxdzH5/index.html">点亮2</a>
    <p class="msg"></p>
    <script type="text/javascript">
        window.onload = function (ev) {
            // var url = 'https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=APPID&secret=APPSECRET'
            $.ajax({
                type: 'get',
                url: '/user',
                async: true,
                dataType: 'json',
                success: function(data) {
                    console.log(data)
                    if (data.errcode) {
                        document.querySelector('.msg').innerText = data.errmsg
                    }
                    window.localStorage.setItem('appId', data.appID) // 公众号的唯一标识
                    window.localStorage.setItem('timestamp', data.timestamp) // 生成签名的时间戳
                    window.localStorage.setItem('nonceStr', data.nonceStr) // 生成签名的随机串
                    window.localStorage.setItem('signature', data.signature) // 签名

                    var APPID = data.appID
                    getUserInfo(APPID)

                },// ajax err
                error: function (err) {
                    console.log('错误')
                    console.log(err)
                }
            })
            // 2 获取授权
            // location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${APPID}&redirect_uri=${rui}&response_type=${code}&scope=${SCOPE}&state=STATE#wechat_redirect`
            function getUserInfo(APPID) {
                const REDIRECT_URI= 'http://tang.ngrok.xiaomiqiu.cn/dzH5/index.html';
                var url_user = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid='+ APPID +
                    '&redirect_uri='+ REDIRECT_URI + '&response_type=code&scope=snsapi_userinfo&state=STATE#wechat_redirect'
                location.href = url_user
            }
        }
    </script>
</body>
</html>